<p class="pageHeader">Orders</p>

<div class="container">
    <table>
        <tr>
            <th>Id</th>
            <th>Product Count</th>
            <th>Total</th>
            <th></th>
        </tr>
        #foreach($order in $orders)
        <tr>
            <td>$order.getId()</td>
            <td>$order.countOfItemsInOrder()</td>
            <td>$order.</td>

        <tr>
            #end
    </table>
</div>