<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/icon.png" />
    <title>Shop</title>
</head>
<body>
<div class="nav">
    <ul>
        <li><a class="" href="/stock">Stock</a></li>
        <li><a class="padding-right" href="/shop">Home</a></li>
        <li><a class="" href="/account" method="get">Account</a></li>
        <li><a class="" href="/basket" method="get">Basket</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
<p>Logged in as: $user<p>
<div>
    #parse($template)
</div>
</body>
</html>
