
<link rel="stylesheet" href="/style.css">

<form action="/login" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text">
    <button type="submit">Enter</button>
</form>