<form action="/signup" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" value ="$user" >

    <label for="name">Your name</label>
    <input id="name" name="name" type="text">

    <label for="age">Your age</label>
    <input id="age" name="age" type="number">

    <label for="wallet">Deposit Money</label>
    <input id="wallet" name="wallet" type="number">

    <button type="submit">New User</button>
</form>