<h1>Shop</h1>

<div class = "content-wrapper">
    <a href="/clothes" class=""><img src="/images/clothes.jpeg"></div></a>

</div>
<div class = "image">
    <a href="/drinks" class=""><img src="/images/drink.jpeg"></a>
</div>
<div class = "image">
    <a href="/electronics" class=""><img src="/images/electronics.png"></a>
</div>
<div class = "image">
    <a href="/foods" class=""><img src="/images/food.jpeg"></a>
</div>

</div>

