

<div class = "image">
    <img src="/images/clothes.jpeg">
</div>

<div class = "image">
    <img src="/images/drink.jpeg">
</div>

<div class = "image">
    <img src="/images/electronics.png">
</div>

<div class = "image">
    <img src="/images/food.jpeg">
</div>


